<nav class="flex flex-wrap items-center justify-center max-w-[900px] m-auto py-6 px-4 md:px-0">
    <div class="mx-auto flex flex-wrap items-center justify-between w-full">
        <div class="justify-start">
            <a href="{{site.baseurl}}/" class="text-2xl font-semibold tracking-wide font-serif text-black">
                christine
            </a>
        </div>
        <div class="justify-end">
            <div class="w-full relative flex justify-center">
                <button type="button" onclick="toggleNavbar('navbar')"
                    class="rounded-md inline-flex items-center justify-center text-gray-500 md:hidden"
                    aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <div class="hidden md:flex" id="navbar">
                <div class="flex flex-col md:flex-row mr-auto w-full">
                    <!-- dynamic menu based on navigation info in _config.yml -->
                    {% for link in site.nav-menu %}
                        <a class="nav-item text-md text-black px-6 py-2 lg:py-1 mx-auto "
                            href="{{site.baseurl}}/{{link.permalink}}"
                            data-path="{{site.baseurl}}/{{link.permalink}}">
                            {{link.text}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const currentNavItem = document.querySelectorAll(`[data-path="${window.location.pathname}"]`);
    if (currentNavItem.length > 0) {
        currentNavItem[0].classList.add('font-semibold');
    }
</script>
