---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="bg-background-red">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 w-4/5 mb-10 md:mb-0">
      <h1 class="font-serif font-bold text-5xl mb-9">{{ page.title }}</h1>
      <div class="mb-6">Able Ally connects people with disabilities to support providers based on personalized needs.</div>
      <div>This was a one month research project to help Able Ally better understand their users.</div>
    </div>
    <div class="justify-center flex">
      <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-1.png">
    </div>
  </div>
</div>
<div class="pt-12 md:pt-24 pb-16 md:pb-24 mx-4 md:mx-0">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto">
    <div class="w-full border border-black rounded py-11 px-16 flex flex-col md:flex-row justify-between">
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-dark-red font-semibold mb-2 mx-auto w-[200px]">My role</div>
        <div>UX Researcher</div>
        <div>UX Designer</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-dark-red font-semibold mb-2 mx-auto w-[200px]">Duration</div>
        <div>4 weeks</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-dark-red font-semibold mb-2 mx-auto w-[200px]">Team</div>
        <div>1 Product Manager</div>
        <div>3 UX Researchers</div>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Company Context</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Able Ally aims to improve access to assistive services.</div>
      <div class="leading-6">Over 85 million people in the world are either deaf, deafblind, or hard-of-hearing. Without access to communication, living independently is incredibly challenging. Able Ally’s mission is to improve access to assistive services by operating an online marketplace that connects deaf, deafblind, and hard-of-hearing people with on-demand freelance service providers.</div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Wireframe</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Designing for 3 types of users:</div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2 md:mr-12">
        <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-2.png"></img>
      </div>
      <div class="w-full md:w-1/2 ml-4 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">1) Beneficiaires</div>
        <div class="">People with disabilities who need assistive services. Primarily deaf, deafblind, and hard-of-hearing individuals.</div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2 ml-4">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">2) Support Providers</div>
        <div class="">Professionals who provide assistive services. Primarily freelance sign language interpreters. Also referred to as Service Support Providers or SSP.</div>
      </div>
      <div class="w-full md:w-1/2 md:ml-12">
        <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-3.png"></img>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2 md:mr-12">
        <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-4.png"></img>
      </div>
      <div class="w-full md:w-1/2 ml-4 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">3) Organization Coordinators</div>
        <div class="">Coordinators at organizationss who source support providers for their clients with disabilities.</div>
      </div>
    </div>
  </div>
</div>
<div class="bg-background-red mt-24">
  <div class="text-dark-primary max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 mb-8 md:mb-0 basis-[65%] mr-20">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red text-left">RESEARCH OBJECTIVE</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif text-left">Identify the motivations, daily tasks, and friction points of Able Ally’s users.</div>
      <div class="text-left">Able Ally asked our team to help them validate their assumptions about their users and better understand their needs and pain points in order to create a more accessible and streamlined experience. </div>
    </div>
    <div class="justify-center flex basis-[30%] self-end">
      <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-5.png">
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full mr-2 md:w-4/5">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">OUR PROCESS</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Here is how our team executed the project given a 4 week timeline:</div>
  </div>
  <div class="w-full mt-8">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-13.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto mt-20 md:mt-36 px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-3/4 mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">My Role</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">I led the research on Support Providers.</div>
      <div class="leading-6 mb-6">With three user groups (beneficiaries, support providers, and organization coordinators) and three of us on the team, each member was delegated one user group to lead research on.</div>
      <div class="leading-6">I took the lead on all aspects of the project regarding support providers including recruiting, interviewing, generating insights, and developing the user group’s persona, empathy map, and journey map.</div>
    </div>
    <div class="w-full md:w-1/4 mt-10 md:mt-0">
      <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-6.png"></img>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">RESEARCH PLANNING</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">What are Able Ally’s key goals for this phase of reserach?</div>
      <div class="font-semibold">What do we know about support providers?</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>Beneficiaries rely on support providers to access their environment.</li>
        <li>Support providers are primarily freelancers who find work/assignements through agencies.</li>
      </ul>
      <div class="font-semibold">What are our assumptions?</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>The process of finding work/assignments is not as easy as it can be.</li>
      </ul>
      <div class="font-semibold">What do we want to know?</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>What tasks do they go through each day as support providers?</li>
        <li>Friction points?</li>
        <li>Opportunities for Able Ally?</li>
      </ul>
      <div class="font-semibold">Who are the people we want to talk to in this research study?</div>
      <div class="mb-6">Because Able Alley is primarily serving beneficiaries who are deaf, deafblind, and hard-of-hearing, we wanted to talk to support providers who work with this particular group of people: sign language interpreters and co-navigators.</div>
      <div class="font-semibold">Modes of research to best solve the problem:</div>
      <div>Generative research through</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>Discovery interviews - understand if they have the problem we are hypothesizing and what are contributing factors.</li>
        <li>Concept exploration - talk with support providers to better understand the problem space, show them design concepts and get feedback.</li>
      </ul>
      <div class="font-semibold">Research questions:</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>Where do support providers feel supported by agencies and where is it lacking?</li>
        <li>Where are support providers struggling and thriving?</li>
        <li>Where do support providers intersect with Able Ally on their journey?</li>
      </ul>
      <div class="font-semibold">Research outcomes:</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>Create a persona, empathy map, and journey map</li>
        <li>Determine next steps for Able Ally’s product</li>
      </ul>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">User Interviews</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">I interviewed 5 individuals who provide assistive services.</div>
      <div class="leading-6 mb-6">Able Ally had provided interview transcripts from 5 interviews they had previously condcuted with freelance support providers. These transcipts shed a small light on support providers’ day-to-day, but did not paint a full picture of their experiences as a support provider. My goal was to talk to 5 more individuals to <b>pinpoint their goals, motivations, and pain points as support providers</b>.</div>
      <div>After conducting 5 additional interviews, I aggregated data from all 10 interviews and synthezied it into an affinity map. Here are 3 noteable insights that were revealed about support providers:</div>
    </div>
  </div>
  <div class="w-full mt-10 md:mt-4">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-7.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Persona</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Support providers want a more streamlined process to pick up freelance assignments they can trust.</div>
      <div class="leading-6 mb-6">With insights gained from user interviews, a persona was created to represent support provider’s goals and frustrations.</div>
    </div>
  </div>
  <div class="w-full">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-8.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Empathy Map</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">The persona guided the development of an empathy map.</div>
      <div class="leading-6 mb-6">The empathy map was developed as a more detailed extension of the persona to better understand the user as a person. It also helped identify exactly what support providers are struggling with.</div>
    </div>
  </div>
  <div class="w-full">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-9.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Journey Map</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">A current state journey map helped visualize support providers’ day-to-day experiences.</div>
      <div class="leading-6 mb-6">The journey map helped create a better understanding of the context in which the persona is experiencing challenges and helped pinpoint exactly where pain points are ocurring. It also highlights opportunties for Able Ally to improve support providers experiences.</div>
    </div>
  </div>
  <div class="w-full">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-10.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Shared Key Insights</div>
      <div class="leading-6 mb-6">Our team took a step back and aggregated our insights across all user types to pin point any areas of overlap among the 3 user groups. There were 4 insights that were common across the user groups, which are drawn out below. These insights were labeled as high priority due to the effect on multiple user groups.</div>
    </div>
  </div>
  <div class="w-full">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-11.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Key Learnings + Recommendations</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Tying it all together and offering our recommendations.</div>
      <div class="leading-6 mb-6">At the end of our 4 week timeline, our team pulled together our research on each user group and presented our findings and recommendations to Able Ally’s product team. Each user group had their own unique findings in addition to the shared findings (example below). Here’s a peek into our research report:</div>
    </div>
  </div>
  <div class="w-full">
    <img src="{{site.baseurl}}/assets/img/able-ally/able-ally-12.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Wrap Up</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">To wrap up our research project, we discussed next steps with the product team.</div>
      <div class="leading-6 mb-6">As a team, we assesed the priority of each recommendation that was made and decided which were the most critical to take action on first. We also discussed areas that required more research to reveal specific pain points and areas for more oppotunities.</div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">WHAT’S NEXT?</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Stay tuned for my next case study on our ideation and design phase.</div>
      <div class="leading-6 mb-6">The research conducted with this project layed a foundation for Able Ally to design a user-centered product for their users. Now that each user type is defined and pain points and opportunities have been identified, it’s time to ideate and brainstorm  solutions to help all 3 user types overcome their individual challenges!</div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-red">Final Thoughts</div>
      <div class="leading-6 mb-6">Collaborating with a group of UX professionals on a product we were not fully familiar with was a challenging, yet enjoyable experience. We all came into the project with different styles and approaches, but were able to compromise and agree on how we would tackle the project as a team. Having team members to brainstorm and bounce ideas off of was an enriching experience that boradened my way of thinking about UX research and design.</div>
    </div>
  </div>
</div>
<div class="w-full flex justify-between max-w-[900px] m-auto mt-20 md:mt-36">
  <a href="/work/therafind" class="flex flex-col items-end mb-10 md:mb-20 px-4 md:px-0">
    <div class="font-semibold mb-1">Previous Case Study:</div>
    <div class="flex items-center self-start">
      <img class="w-[18px] mr-1" src="{{site.baseurl}}/assets/img/previous-arrow.png"></img>
      <div class="font-semibold mt-0.5">Therafind</div>
    </div>
  </a>
  <a href="/work/postup" class="flex flex-col items-end mb-10 md:mb-20 px-4 md:px-0">
    <div class="font-semibold mb-1">Next Case Study:</div>
    <div class="flex items-center">
      <div class="font-semibold mt-0.5 mr-1">PostUp</div>
      <img class="w-[18px]" src="{{site.baseurl}}/assets/img/next-arrow.png"></img>
    </div>
  </a>
</div>