---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html %}
{% endif %}

<div class="text-dark-primary max-w-[900px] mt-28 mb-28 mx-auto px-4 md:px-0">
  <div class="text-[4rem] leading-tight font-bold mb-6 font-serif">Hi, I'm Christine</div>
  <div class="text-2xl leading-normal w-full md:w-3/4"><b>Designer</b> and <b>behavior analyst</b> fascinated by the intersection of design and social impact.</div>
  <div class="text-2xl font-semibold mt-28 mb-6">Recent work</div>
  <div class="grid md:grid-cols-2 md:grid-rows-2 gap-5 mb-28">
      <a href="https://perl.xyz" target="_blank" class="lg:w-[440px] shadow-portfolio rounded">
        <div class="justify-center flex">
          <img src="{{site.baseurl}}/assets/img/perl-thumbnail.png">
        </div>
        <div class="p-6">
          <div class="text-lg font-semibold mb-2">Perl.xyz</div>
          <div class="mb-1">Social bookmarking app built on web3</div>
          <div class="mb-4">Case study coming soon</div>
          <div class="flex gap-x-2">
            <div class="bg-background-gray-dark py-2 px-3 rounded-3xl">
              Product Design
            </div>
            <div class="bg-background-gray-dark py-2 px-3 rounded-3xl">
              Social
            </div>
            <div class="bg-background-gray-dark py-2 px-3 rounded-3xl">
              Mobile
            </div>
            <div class="bg-background-gray-dark py-2 px-3 rounded-3xl">
              Web
            </div>
          </div>
        </div>
      </a>
    {% for case-study in page.case-studies %}
      <a href="{{site.baseurl}}/work/{{case-study.permalink}}" class="lg:w-[440px] shadow-portfolio rounded">
        <div class="justify-center flex">
          <img src="{{site.baseurl}}/assets/img/{{case-study.image}}.png">
        </div>
        <div class="p-6">
          <div class="text-lg font-semibold mb-2">{{ case-study.title }}</div>
          <div class="mb-4 leading-7">{{ case-study.subtitle }}</div>
          <div class="flex gap-x-2">
            {% for tag in case-study.tags %}
              <div class="bg-background-gray-dark py-2 px-3 rounded-3xl">
                {{ tag }}
              </div>
            {% endfor %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  {% include footer.html %}
</div>