---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="bg-background-gray">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 w-4/5 mb-10 md:mb-0">
      <h1 class="font-serif font-bold text-5xl mb-9">{{ page.title }}</h1>
      <div class="mb-6">A mobile app designed to help remote workers find a puclic place to work.</div>
      <div>This was a solo project following Google Ventures Design Sprint, a five-day approach modified for a team of one.</div>
    </div>
    <div class="justify-center flex">
      <img src="{{site.baseurl}}/assets/img/postup/postup-1.png">
    </div>
  </div>
</div>
<div class="pt-12 md:pt-24 pb-16 md:pb-24 mx-4 md:mx-0">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto">
    <div class="w-full border border-black rounded py-11 px-16 flex flex-col md:flex-row justify-between">
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-black font-semibold mb-2 mx-auto w-[200px]">My role</div>
        <div>UX Researcher</div>
        <div>UX Designer</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-black font-semibold mb-2 mx-auto w-[200px]">Duration</div>
        <div>5 Days</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-black font-semibold mb-2 mx-auto w-[200px]">Tools</div>
        <div>Figma</div>
        <div>Marvel</div>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row items-center px-4 md:px-0 mb-20">
  <div class="w-full md:w-3/4 md:mr-16">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Problem</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Finding a public place to work remotely from should be easy, but that’s not always true.</div>
    <div class="leading-6 mb-8">PostUp is a new app where freelancers and remote workers share tips and advice. Recently, they started to see a lot of feedback and discussions about how to find good public places to work from. PostUp is looking for solutions to streamline the process for users and charge a monthly subscription fee for the service.</div>
  </div>
  <div class="w-3/4 md:w-1/4">
    <img src="{{site.baseurl}}/assets/img/postup/postup-2.png"></img>
  </div>
</div>
<div class="bg-background-gray">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="justify-center flex basis-[30%] self-end">
      <img src="{{site.baseurl}}/assets/img/postup/postup-3.png">
    </div>
    <div class="text-center md:text-left md:ml-12 mb-8 md:mb-0 basis-[65%]">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green text-left">My Solution</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif text-left">An end-to-end experience making finding a great place to work quick and pain-free.</div>
      <div class="text-left">Remote workers can easily search, filter, select, and get directions to a suitable remote work place all from one platform.</div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Constraints</div>
      <div class="text-left">PostUp had 3 constraints that I needed to work with.</div>
    </div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-4.png"></img>
  </div>
</div>
<div class="bg-black mt-36">
  <div class="md:max-w-[900px] mx-auto font-serif text-3xl py-14 text-white px-4 md:px-0">Day 1: Understand & Map</div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">User Persona</div>
      <div class="text-left w-full md:w-2/3">On Day 1, I wanted to get a grasp on the problem space and empathize with PostUp’s users. I started by analyzing the primary research and user interviews provided by PostUp. I took the insights gained from this and updated the persona (originally created by PostUp) to reflect my new insights.</div>
    </div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-5.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Notable Insights</div>
      <div class="text-left w-full md:w-2/3">From synthesizing data provided by PostUp, I identified <b>eight amenities and details users want to know about</b> before committing to working at a particular work space.</div>
    </div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-6.png"></img>
  </div>
</div>
<div class="bg-background-gray mt-24">
  <div class="text-dark-primary max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 mb-8 md:mb-0 basis-[65%] mr-20">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black text-left">Problem Statement</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif text-left">How might we make searching for a suitable work space simple and quick for remote workers?</div>
      <div class="text-left">With an understanding of PostUp’s users, I was able to define the key problems to solve and refine my problem statement.</div>
    </div>
    <div class="justify-center flex basis-[30%] self-end">
      <img src="{{site.baseurl}}/assets/img/postup/postup-8.png">
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Map</div>
      <div class="text-left w-full md:w-2/3">Having a clear understanding of the problem I was solving, I jumped right into exploring possible solutions. Of the handful of ideas I sketched out, the one below best addressed the problem and conveyed my solution.</div>
    </div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-9.png"></img>
  </div>
</div>
<div class="bg-black mt-36">
  <div class="md:max-w-[900px] mx-auto font-serif text-3xl py-14 text-white px-4 md:px-0">Day 2: Sketch</div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="">
    <div class="w-full mb-12">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Lightning Demos</div>
      <div class="text-left w-full">To start off Day 2, I spent about 30 minutes getting inspiration from existing solutions for similar problems. I specifically looked at popular apps and websites that provided some sort of directory to help users find something they’re looking for.</div>
    </div>
    <div>
      <div class="font-semibold">Yelp</div>
      <div class="flex flex-col md:flex-row items-center">
        <div class="w-full md:w-3/5">
          <div>First, I chose to look at Yelp because it’s usually one of the first apps I turn to when looking for a place to work. I took special note of:</div>
          <ul class="list-disc list-outside pl-6 mb-6">
            <li>Beneficiaries rely on support providers to access their environment.</li>
            <li>Support providers are primarily freelancers who find work/assignements through agencies.</li>
          </ul>
        </div>
        <div class="w-full md:w-2/5">
          <img src="{{site.baseurl}}/assets/img/postup/postup-10.png"></img>
        </div>
      </div>
    </div>
    <div>
      <div class="font-semibold">Google Maps</div>
      <div class="flex flex-col md:flex-row items-start">
        <div class="mt-10 w-full md:w-3/5">
          <div>I then jumped over to Google Maps, which is where I would usually look next. I took inspiration from a few features from Google Maps:</div>
          <ul class="list-disc list-outside pl-6 mb-6">
            <li>The <b>“popular times”</b> section would be helpful for PostUp users since many users spoke about looking for quiet spaces and avoiding crowds</li>
            <li>The ability to get directions to the location</li>
            <li>A <b>map that shows all nearby locations</b> as well as the user’s location so that users can gauge how far they are</li>
            <li>A <b>results list with tags</b> showing the users important filters that they may have selected</li>
          </ul>
        </div>
        <div class="w-full md:w-2/5">
          <img src="{{site.baseurl}}/assets/img/postup/postup-11.png"></img>
        </div>
      </div>
    </div>
    <div>
      <div class="font-semibold">Airbnb</div>
      <div class="flex flex-col md:flex-row items-start">
        <div class="mt-10 w-full md:w-3/5">
          <div>Next, I decided to look at Airbnb. Though it does not provide the exact solution of finding a public place to work, it provides a similar solution of helping users find short-term places to live. One thing stood out to me:</div>
          <ul class="list-disc list-outside pl-6 mb-6">
            <li>A pain point for PostUp users is that most apps and websites mainly review the food and service of a place. On Airbnb’s app, <b>ratings are divided into six categories</b>. This gives more transparency on how a listing is rated. A similar feature would be highly beneficial for PostUp users to see ratings for food vs. workability.</li>
          </ul>
        </div>
        <div class="w-full md:w-2/5">
          <img src="{{site.baseurl}}/assets/img/postup/postup-12.png"></img>
        </div>
      </div>
    </div>
    <div>
      <div class="font-semibold">Workfrom</div>
      <div class="flex flex-col md:flex-row items-start">
        <div class="mt-10 w-full md:w-3/5">
          <div>Interested in seeing if there’s an existing app or website that helps remote workers find public places to work, I did a quick search and found Workfrom. I was inspired by how simple, yet valuable its content is.</div>
          <ul class="list-disc list-outside pl-6 mb-6">
            <li><b>Only the most important and most used filters are listed</b> on the homepage</li>
            <li>The profile page <b>clearly lists out work-related details and amenities</b> (number of places to charge, type of seating, noise level, type of space, etc.)</li>
          </ul>
        </div>
        <div class="w-full md:w-2/5">
          <img src="{{site.baseurl}}/assets/img/postup/postup-13.png"></img>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Crazy Eights</div>
      <div class="text-left w-full md:w-3/4 mb-6">Looking back at Day 1’s map, I deduced that the “browse work space options” would be the most critical screen for PostUp. This screen is where users would look at all possible work options, compare them, and make a selection. Prior to this screen, users would have already inputted their location and selected their special requirements.</div>
      <div class="text-left w-full md:w-3/4 mb-6">Using inspiration from other successful apps and keeping users’ needs and pain points at the forefront, I began to sketch variations of the critical screen. I used the Crazy Eights method, sketching eight ideas in eight minutes. Here’s what I came up with:</div>
    </div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-14.png"></img>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-15.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Solution Sketch</div>
      <div class="text-left w-full md:w-3/4 mb-6">From the eight solutions I sketched above, I selected one design that best fulfilled the role of solving the user's problem. I then sketched out the screens that would come before and after it. This solution sketch gave me an idea of how the user would interact with the interface.</div>
    </div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-16.png"></img>
  </div>
</div>
<div class="bg-black mt-36">
  <div class="md:max-w-[900px] mx-auto font-serif text-3xl py-14 text-white px-4 md:px-0">Day 3: Wireframe</div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Wireframe</div>
    <div class="leading-6 mb-10 w-full md:w-3/4">On Day 3, I sketched out a lightweight wireframe for the remainder of the screens. I made sure to include the necessary elements that I'd need to build the prototype. Here’s how I envisioned the app working:</div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/4">
        <img src="{{site.baseurl}}/assets/img/postup/postup-17.png"></img>
      </div>
      <div class="w-full md:w-3/4 md:ml-24 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">1) Users are prompted to sign up or log in.</div>
        <ul class="list-disc list-outside pl-6 mb-6">
          <li>This is where the user’s journey begins.</li>
          <li>Returning users can select to sign in.</li>
          <li>New users will be guided to create an account.</li>
          <li>Since PostUp wants to charge monthly fees to access their information, I noted down the idea of adding a free trial option for users who are not ready to commit just yet.</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-3/4 md:mr-24 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">2) New users will create an account.</div>
        <ul class="list-disc list-outside pl-6 mb-6">
          <li>New users will create an account on this page.</li>
          <li>This is also where payment information will be collected for PostUp’s monthly subscription fee.</li>
        </ul>
      </div>
      <div class="w-full md:w-1/4">
        <img src="{{site.baseurl}}/assets/img/postup/postup-18.png"></img>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/4">
        <img src="{{site.baseurl}}/assets/img/postup/postup-19.png"></img>
      </div>
      <div class="w-full md:w-3/4 md:ml-24 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">3) Users start the search by inputting the location they’re looking to work in.</div>
        <ul class="list-disc list-outside pl-6 mb-6">
          <li>In order to populate relevant work places, users are prompted to input their location of choice.</li>
          <li>Users can either select to use their current location or input a different location if they’re not currently in the area of where they will be working.</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-3/4 md:mr-24 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">4) Users are then shown the work spaces around the area they searched for.</div>
        <ul class="list-disc list-outside pl-6 mb-6">
          <li>Users are shown a map of places to work near the area that they inputted.</li>
          <li>Places are labeled by type of facility and ratings</li>
          <li>From this page, users have the option to filter for their needs. </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4">
        <img src="{{site.baseurl}}/assets/img/postup/postup-20.png"></img>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/4">
        <img src="{{site.baseurl}}/assets/img/postup/postup-21.png"></img>
      </div>
      <div class="w-full md:w-3/4 md:ml-24 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">5) Users then filter by their needs, learn more about each work space, and get directions to the location they choose to work at.</div>
        <ul class="list-disc list-outside pl-6 mb-6">
          <li>These next three screens were discussed in the previous section (section: solution screens)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-black mt-36">
  <div class="md:max-w-[900px] mx-auto font-serif text-3xl py-14 text-white px-4 md:px-0">Day 4: Prototype</div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Creating the Prototype</div>
      <div class="text-left w-full md:w-3/4 mb-6">Day 4 took us to prototyping. With the sketched wireframe from Day 3, I used Figma to create the high fidelity prototype. The high fidelity version is similar to the sketches in most ways. Here is a side-by-side of the iterations of each screen. </div>
    </div>
  </div>
  <div class="w-full my-6">
    <img src="{{site.baseurl}}/assets/img/postup/postup-22.png"></img>
  </div>
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full">
      <div class="text-left w-full mb-6 font-semibold">Key changes and additions:</div>
      <ul class="list-disc list-outside pl-6 mb-6">
        <li>Changed the CTA from “Get started” to “Start your 7-day free trial” for more clarity of what the user is signing up for.</li>
        <li>Since users are not expected to pay for their account until the free trial is over, I removed the user’s need to input payment information. This may help users feel more comfortable moving forward with creating their account.</li>
        <li>I added the ability to sign up with Facebook or Google to speed up the sign up process.</li>
        <li>The initial results page originally only provided a map of the results. In the hi-fi, I added a list to provide more information about each work place.</li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-black mt-36">
  <div class="md:max-w-[900px] mx-auto font-serif text-3xl py-14 text-white px-4 md:px-0">Day 5: Test</div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0  mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Testing the Prototype</div>
      <div class="text-left w-full md:w-3/4 mb-6">On Day 5, I went out and tested the prototype with five users. I specifically looked for test participants who work remotely in public places at least once per week. Users expressed that the prototype was straightforward and easy to navigate. No major usability issues were found, but minor issues and interesting insights were uncovered.</div>
    </div>
  </div>
  <div class="mt-6 mb-5 max-w-full md:max-w-[900px] m-auto px-4 md:px-0">
    <div class="leading-8 font-semibold mb-8 text-medium-green">Findings</div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #1</div>
        <div class="">A couple users noted that in a real scenario, they would abandon the app upon seeing “start your 7-day free trial” because it implied that they may need to create an account and input payment information before knowing much about the app.</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">In the next iteration, I delayed account creation. Once opening the app, users have access to a free version of the app that provides limited functionality. After browsing, users are prompted to create an account to continue using the app.</div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/postup/postup-23.png"></img>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #2</div>
        <div class="">Users commented that the “details” section looked like clickable buttons.</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">I changed the format of this section into a chart so it better conveys that it is informational content.</div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/postup/postup-24.png"></img>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #3</div>
        <div class="">One user noted that she was not sure if her account was created after clicking “create my account.”</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">This was a fair point since users are not given any feedback once they’ve clicked “create account.” I added a pop-up to inform users that their account was created.</div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/postup/postup-25.png"></img>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0 mb-20 md:mb-24">
  <div class="w-full mr-2 md:w-4/5">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">Interactive Prototype</div>
    <div class="text-3xl leading-10 font-semibold text-black font-serif">Check out the current iteration!</div>
  </div>
  <div class="w-full mt-8 flex justify-center">
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="500" height="800" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FvTcjDrvtwIemgABLdEn8Eg%2FPostUp%3Fpage-id%3D110%253A31%26node-id%3D110%253A396%26viewport%3D412%252C-721%252C0.41%26scaling%3Dscale-down%26starting-point-node-id%3D110%253A396" allowfullscreen></iframe>  </div>
</div>
<div class="bg-black mt-36">
  <div class="md:max-w-[900px] mx-auto font-serif text-3xl py-14 text-white px-4 md:px-0">Conclusions</div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 my-20 md:my-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 mb-6">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-black">What I Learned</div>
      <div class="text-left w-full mb-4">The initial thought of completing a project in five days sounded daunting to me, but I found that it was completely doable, especially when following a structure. I applied more pressure to myself with this project, staying strict with time boxing each phase of the process. I surprised myself with how quickly I was able to work. I generally get stuck on making things perfect before I go on to the next step. Moving rapidly for this design sprint did not allow me to get stuck on perfection, which in turn warmed me up to imperfection. </div>
    </div>
  </div>
  <div>Overall, I had so much fun with this design sprint! The biggest wins were:</div>
  <ul class="list-disc list-outside pl-6">
    <li>Learning a new design approach</li>
    <li>Learning to work more efficiently</li>
  </ul>
</div>
<div class="w-full flex justify-between max-w-[900px] m-auto mt-20 md:mt-36">
  <a href="/work/able-ally" class="flex flex-col items-end mb-10 md:mb-20 px-4 md:px-0">
    <div class="font-semibold mb-1">Previous Case Study:</div>
    <div class="flex items-center self-start">
      <img class="w-[18px] mr-1" src="{{site.baseurl}}/assets/img/previous-arrow.png"></img>
      <div class="font-semibold mt-0.5">Able Ally</div>
    </div>
  </a>
  <a href="/work/stride" class="flex flex-col items-end mb-10 md:mb-20 px-4 md:px-0">
    <div class="font-semibold mb-1">Next Case Study:</div>
    <div class="flex items-center">
      <div class="font-semibold mt-0.5 mr-1">Stride</div>
      <img class="w-[18px]" src="{{site.baseurl}}/assets/img/next-arrow.png"></img>
    </div>
  </a>
</div>