---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="bg-background-gray">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 w-4/5 mb-10 md:mb-0">
      <h1 class="font-serif font-bold text-5xl mb-9">{{ page.title }}</h1>
      <div class="mb-6">A case study on making fitness social.</div>
      <div>This was an independent project using the design thinking process.</div>
    </div>
    <div class="justify-center flex">
      <img src="{{site.baseurl}}/assets/img/stride/stride-1.png">
    </div>
  </div>
</div>
<div class="pt-12 md:pt-24 pb-16 md:pb-24 mx-4 md:mx-0">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto">
    <div class="w-full border border-black rounded py-11 px-16 flex flex-col md:flex-row justify-between">
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-blue-primary font-semibold mb-2 mx-auto w-[200px]">My role</div>
        <div>UX Researcher</div>
        <div>UX Designer</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-blue-primary font-semibold mb-2 mx-auto w-[200px]">Duration</div>
        <div>3 weeks</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-blue-primary font-semibold mb-2 mx-auto w-[200px]">Tools</div>
        <div>Figma</div>
        <div>Marvel</div>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Problem</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif w-full md:w-2/3">Stride is noticing high user drop off rates after 3 weeks of usage. </div>
      <div class="leading-6 mb-6">Stride, a well-established company, launched a fitness app three years ago. The app allows users to share health and fitness updates with family and friends. Users can create health goals, monitor them, and share achievements. Users are also able to search and sign up for fitness clubs and events around their area.</div>
      <div class="leading-6 mb-6">On average, user engagement is heavy for the first three weeks then it drops off and users delete the app soon after. There are currently no features to message other users or alert friends of achievements. Stride wants increase engagement and repeat usage by integrating messaging and social features into their app. </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Talking to Fitness App Users</div>
      <div class="leading-6 mb-6">To start the discovery phase, I interviewed five users of fitness apps to better <b>understand their behaviors and attitudes when it came to fitness apps and social features</b>. Users spoke positively about social fitness apps that they have used in the past. Check out what some users shared:</div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-2.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Competitive Analysis</div>
      <div class="leading-6 mb-6">From my five interviews, the most talked about competitors were Apple Fitness, Strava, and Nike Run Club. Because of this, I decided to analyze these three competitors to get a glimpse of how they’re tackling the challenge of incorporating social features into their product. </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-8">
  <div>
    <div class="flex flex-col md:flex-row items-start mb-10">
      <div class="w-full md:w-3/5">
        <div class="font-semibold mb-6">Apple Fitness</div>
        <ul class="list-disc list-outside pl-6 md:mr-6 mb-6 md:mb-0">
          <li>View friends’ daily activity and achievements on profiles</li>
          <li>Receive immediate notifications upon friend’s completion of an activity or accomplishment, but no feed</li>
          <li>Respond to notifications via iMessage</li>
          <li>Compete with friends by collecting points through burning calories, exercising, and standing</li>
          <li>Gain badges to display on profile by reaching exercise achievements and participating in competitions</li>
        </ul>
      </div>
      <div class="w-full md:w-2/5">
        <img src="{{site.baseurl}}/assets/img/stride/stride-3.png"></img>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-start mb-10">
      <div class="w-full md:w-3/5">
        <div class="font-semibold mb-6">Strava</div>
        <ul class="list-disc list-outside pl-6 md:mr-6 mb-6 md:mb-0">
          <li>Feed showing latest activity from friends and community</li>
          <li>Users can comment and like posts</li>
          <li>Workouts can be shared to the feed upon completion</li>
          <li>Create private fitness challenges and invite friends</li>
          <li>Private groups between friends where users can post and create competitions privately</li>
          <li>No feature to privately message friends</li>
        </ul>
      </div>
      <div class="w-full md:w-2/5">
        <img src="{{site.baseurl}}/assets/img/stride/stride-4.png"></img>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-start mb-10">
      <div class="w-full md:w-3/5">
        <div class="font-semibold mb-6">Nike Run Club</div>
        <ul class="list-disc list-outside pl-6 md:mr-6 mb-6 md:mb-0">
          <li>Record runs and share stats with friends</li>
          <li>Create running challenges and invite friends</li>
          <li>View leaderboard to compare stats between friends by week, month or year</li>
          <li>Join community challenges and view stats of top performers</li>
          <li>Earn badges for accomplishments to display on profile</li>
        </ul>
      </div>
      <div class="w-full md:w-2/5">
        <img src="{{site.baseurl}}/assets/img/stride/stride-5.png"></img>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Drawing Key Insights</div>
      <div class="leading-6 mb-6">After investigating competing apps, I went back and extracted data from my user interviews to find key insights by creating an affinity map. These insights helped me generate possible high level user stories for Stride. The highlighted stories below were selected to generate more detailed stories.</div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-6.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">User Stories</div>
      <div class="leading-6 mb-6">With the high level user stories derived from our user insights, I generated more detailed user stories and defined what functions were integral to Stride’s social features.</div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-7.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0 mb-6">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">User Flow</div>
      <div class="leading-6 mb-6">After identifying the user stories, I developed three user flows in order to map out how a user would interact with the product to complete these tasks.</div>
    </div>
  </div>
  <div class="font-semibold text-xl uppercase mb-8">Flow #1: Record and share fitness activity</div>
  <div class="justify-center flex mb-12">
    <img src="{{site.baseurl}}/assets/img/stride/stride-8.png">
  </div>
  <div class="font-semibold text-xl uppercase mb-8">Flow #2: View, comment, and like a friend’s fitness post</div>
  <div class="justify-center flex mb-12">
    <img src="{{site.baseurl}}/assets/img/stride/stride-9.png">
  </div>
  <div class="font-semibold text-xl uppercase mb-8">Flow #3: Message a friend and invite them to an exercise competition</div>
  <div class="justify-center flex mb-12">
    <img src="{{site.baseurl}}/assets/img/stride/stride-10.png">
  </div>
</div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Sketching and Guerilla Testing</div>
      <div class="leading-6 mb-6">With clarity of the users flows, I began ideating. I started by sketching different versions of each screen, thinking about the elements that would need to be included, where they would be placed, and how users would interact with them. Once I had a working solution, I conducted a quick round of guerilla testing to catch major usability issues.</div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-11.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">From Sketches to Wireframes</div>
      <div class="leading-6 mb-6">I used the insights I gained from guerilla testing to guide my design changes for the next iteration. Being more confident in the design, I moved the process from paper onto Figma in order to better capture what the screens would look like. </div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-12.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full mr-0">
      <div class="text-3xl leading-10 uppercase tracking-wider font-semibold mb-4 text-black">Validating The Design</div>
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Usability Testing: Round 1</div>
      <div class="leading-6 mb-6">I recruited five users of fitness apps and conducted a round of usability tests. I wanted to find out if users would be able to easefully use Stride’s new social features. Specifically, I asked them to complete the following tasks:</div>
      <div class="flex mb-4">
        <div class="font-bold mr-4">Task 1:</div>
        <div>Record a run you’re about to do, then share it with your friends</div>
      </div>
      <div class="flex mb-4">
        <div class="font-bold mr-4">Task 2:</div>
        <div>Check out what kinds of workouts your friends have been doing recently and show them your support</div>
      </div>
      <div class="flex mb-6">
        <div class="font-bold mr-4">Task 3:</div>
        <div>Check in with a friend to see how their training has been going and challenge them to an exercise competition</div>
      </div>
      <div>All test participants were able to complete each task without  any missteps. Though no major usability issues were uncovered during this round of testing, users help me identify minor issues that could be improved.</div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-13.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Usability Testing: Round 2</div>
      <div class="leading-6 mb-6">Given the feedback from round one of testing, I made design changes to improve the usability of the prototype. I then took the next iteration through another round of usability testing with five new users and continued to iterate based on my findings.</div>
    </div>
  </div>
  <div class="justify-center flex">
    <img src="{{site.baseurl}}/assets/img/stride/stride-14.png">
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Interactive Prototype</div>
      <div class="leading-6 mb-6">Check out the current iteration!</div>
    </div>
  </div>
  <div class="w-full mt-8 flex justify-center">
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="500" height="800" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FZJmGMCVK6p0XGpH6m7qSVB%2FStride-v2%3Fpage-id%3D319%253A8600%26node-id%3D319%253A8604%26viewport%3D189%252C555%252C0.16%26scaling%3Dscale-down%26starting-point-node-id%3D319%253A8604" allowfullscreen></iframe>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto px-4 md:px-0 mt-20 md:mt-36">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-blue-primary">Next Steps</div>
      <div class="leading-6 mb-6">This is just the beginning for Stride’s social features. The next challenges I’d like to tackle would be:</div>
      <ul class="list-decimal list-outside pl-6 md:mr-6">
        <li>Conduct usability testing on the new iteration and continue to make design changes to increase ease of use</li>
        <li>Evaluate user metrics to determine if the new social features are driving engagement and repeat usage</li>
      </ul>
    </div>
  </div>
</div>
<div class="w-full flex justify-between max-w-[900px] m-auto mt-20">
  <a href="/work/postup" class="flex flex-col items-start mb-10 md:mb-20 px-4 md:px-0">
    <div class="font-semibold mb-1">Previous Case Study:</div>
    <div class="flex items-center self-start">
      <img class="w-[18px] mr-1" src="{{site.baseurl}}/assets/img/previous-arrow.png"></img>
      <div class="font-semibold mt-0.5">PostUp</div>
    </div>
  </a>
</div>