---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="bg-background-green">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 w-4/5 mb-10 md:mb-0">
      <h1 class="font-serif font-bold text-5xl mb-9">{{ page.title }}</h1>
      <div class="mb-6">An end-to-end experience that makes the therapist search simple and painless.</div>
      <div>This was an independent passion project driven by the challenges my peers and I experienced while seeking therapy during the pandemic.</div>
    </div>
    <div class="justify-center flex">
      <img src="{{site.baseurl}}/assets/img/therafind/therafind-1.png">
    </div>
  </div>
</div>
<div class="pt-12 md:pt-24 pb-16 md:pb-24 mx-4 md:mx-0">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto">
    <div class="w-full border border-medium-green rounded py-11 px-16 flex flex-col md:flex-row justify-between">
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-dark-green font-semibold mb-2 mx-auto w-[200px]">My role</div>
        <div>UX Researcher</div>
        <div>UX Designer</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-dark-green font-semibold mb-2 mx-auto w-[200px]">Duration</div>
        <div>8 weeks</div>
      </div>
      <div class="text-center mb-6 md:mb-0">
        <div class="uppercase text-dark-green font-semibold mb-2 mx-auto w-[200px]">Tools</div>
        <div>Figma</div>
        <div>Marvel</div>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto pb-8 flex flex-col md:flex-row items-center px-4 md:px-0">
  <div class="w-full md:w-3/4 md:mr-16">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Problem</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">American adults are experiencing difficulty accessing therapy services.</div>
    <div class="leading-6 mb-8">During the pandemic, my mental health was at an all-time low and I accepted the fact that I needed help. Upon beginning the quest to find myself a therapist, I was immediately overwhelmed and confused by the process. Reaching out to friends and acquaintances for advice, I came to find that we were all experiencing similar challenges. Digging a little deeper online, it became clear to me that this issue expanded beyond just me and my circle of friends.</div>
  </div>
  <div class="w-3/4 md:w-1/4">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-2.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] mx-auto mb-20 md:mb-36 px-4 md:px-0 pt-16 md:pt-0">
  <div class="flex flex-col md:flex-row gap-x-16 gap-y-8 md:gap-y-0">
    <div>
      <div class="font-fraunces font-black text-7xl text-dark-green mb-2">57%</div>
      <div class="mb-3">of all adults with mental illness reported receiving no treatment in 2020</div>
      <div class="text-sm font-semibold">Mental Health America</div>
    </div>
    <div>
      <div class="font-fraunces font-black text-7xl text-dark-green mb-2">4.9M</div>
      <div class="mb-3">adults were not able to access the mental health care they needed in 2020</div>
      <div class="text-sm font-semibold">National Alliance of Mental Illness</div>
    </div>
    <div>
      <div class="font-fraunces font-black text-7xl text-dark-green mb-2">22%</div>
      <div class="mb-3">of patients who wanted access to mental health care faced barriers in 2020</div>
      <div class="text-sm font-semibold">National Council of Behavioral Health</div>
    </div>
  </div>
</div>
<div class="bg-background-green">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 mb-8 md:mb-0 basis-[65%]">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green text-left">My Solution</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif text-left">TheraFind, an app that helps patients find and connect with compatible mental health providers.</div>
      <div class="text-left">My goal was to make therapy services more accessible to patients. I produced this project independently using the design thinking process.</div>
    </div>
    <div class="justify-center flex basis-[30%] self-end">
      <img src="{{site.baseurl}}/assets/img/therafind/therafind-3.png">
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col md:flex-row items-center px-4 md:px-0">
  <div class="w-full md:w-1/2 mr-0 md:mr-2">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">User Discovery</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">I interviewed 5 individuals who recently sought out therapy.</div>
    <div class="leading-6">I wanted to get a grasp on three things:</div>
    <ul class="list-disc list-outside pl-6 mt-1">
      <li>the kinds of people struggling with accessing therapy</li>
      <li>why they are struggling</li>
      <li>what would help them overcome those barriers</li>
    </ul>
  </div>
  <div class="w-full md:w-1/2 mt-10 md:mt-0">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-4.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-center px-4 md:px-0">
  <div class="w-full">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Key Insights</div>
    <div class="leading-6">With the data I collected from user interviews, I created an affinity map to identify patterns and draw insights. Here are the six key insights that were revealed:</div>
  </div>
  <div class="w-full mt-6">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-5.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full mr-2">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">User Persona</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif md:w-3/5">Users are struggling to find available and affordable therapists who fit their specific needs.</div>
    <div class="leading-6">Based on my findings from the discovery phase, I created this persona of Dana, which highlights the main motivations and goals of TheraFind’s target user. Dana encompasses the average user based on my research.</div>
  </div>
  <div class="w-full mt-8">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-6.png"></img>
  </div>
</div>
<div class="bg-background-green mt-24">
  <div class="text-dark-primary max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 mb-8 md:mb-0 basis-[65%] mr-20">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green text-left">Problem Statement</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif text-left">How might we help our users access affordable therapists who fit their needs so that they can stay on top of their mental health?</div>
      <div class="text-left">With a clearer understanding of TheraFind’s users, I recrafted my problem statement to address the overarching issues I wanted to solve.</div>
    </div>
    <div class="justify-center flex basis-[30%] self-end">
      <img src="{{site.baseurl}}/assets/img/therafind/therafind-7.png">
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full mr-2">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Ideation</div>
    <div class="leading-6 w-full md:w-4/6">Now that the problem and the users were clearly defined, I began brainstorming solutions. I took the key insights found from user interviews and ideated possible solutions for each.</div>
  </div>
  <div class="w-full mt-8">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-8.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto mt-20 md:mt-36 px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-3/4 mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">User Stories</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">User stories helped define which functions were integral to finding a therapist.</div>
      <div class="leading-6">These user stories guided the project in keeping the product user focused. It served as a reminder of user goals as well as helped prioritize how each screen is designed.</div>
    </div>
    <div class="w-full md:w-1/4 mt-10 md:mt-0">
      <img src="{{site.baseurl}}/assets/img/therafind/therafind-9.png"></img>
    </div>
  </div>
  <div class="w-full shrink-0 mt-10">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-10.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full mr-2 md:w-4/5">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">User Flow</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">A user flow was developed to understand the necessary steps to book a therapist.</div>
    <div class="leading-6 mb-6">The user stories above helped narrow down the features that were most critical to include in the booking flow. To come up with a flow that made sense for the user, I analyzed the user flows of existing platforms that solved similar problems. I then drew parallels to the features and functions to realize what was necessary to include in the booking flow.</div>
    <div class="leading-6">The user flow below visualizes the route users would take to successfully find a compatible therapist and book an appointment. </div>
  </div>
  <div class="w-full mt-8">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-11.png"></img>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto mt-20 md:mt-36 px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-3/4 mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Sketch + Guerilla Test</div>
      <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">The next step was to bring the product to life and run a quick round of tests.</div>
      <div class="leading-6">I sketched out what each screen of the user flow might look like, making sure to include all of the critical elements identified in the user stories. I chose to design in mobile first in order to prioritize only the most important elements.</div>
    </div>
    <div class="w-full md:w-1/4 mt-10 md:mt-0">
      <img class="m-auto" src="{{site.baseurl}}/assets/img/therafind/therafind-12.png"></img>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto mt-20 flex flex-col md:flex-row items-center">
  <div class="w-4/5 md:w-1/3 mb-10 md:mb-0 mr-12 m-auto">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-13.png"></img>
  </div>
  <div class="w-full md:w-2/3 px-4 md:px-0">
    <div class="leading-6 mb-6">Guerilla testing helped uncover the following three insights:</div>
    <ol class="list-decimal list-outside pl-5 leading-7">
      <li>
        <b>Users had differing opinions on the flow.</b>
        <ol class="list-disc list-outside pl-6 leading-7">
          <li>Originally, users were asked to create an account at the time of booking an appointment, similar to the checkout experience for online shopping.</li>
          <li>Some users were confused about why sign up was so late in the process. Others liked the ability to explore before committing to creating an account.</li>
          <li>When it came to wireframing, I opted to allow users to decide their flow. They would be able to either sign up/log in from the get-go or explore first. </li>
        </ol>
      </li>
      <li>
        <b>Icons without labels were confusing to some users.</b>
        <ol class="list-disc list-outside pl-6 leading-7">
          <li>Users commented about being unsure what would happen upon clicking some icons and buttons.</li>
          <li>In the wireframe, I labeled every icon and button to reduce uncertainty.</li>
        </ol>
      </li>
      <li>
        <b>The homepage was confusing.</b>
        <ol class="list-disc list-outside pl-6 leading-7">
          <li>Some users were not sure how to proceed from the homepage.</li>
          <li>The unlabeled icons played a role in that.</li>
        </ol>
      </li>
    </ol>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0">
  <div class="w-full">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Wireframe</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">With user feedback, I iterated on the design and created the first digital prototype in low fidelity.</div>
    <div class="leading-6 mb-10">Here is how it works:</div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2">
        <img src="{{site.baseurl}}/assets/img/therafind/therafind-14.png"></img>
      </div>
      <div class="w-full md:w-1/2 ml-4 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">1) The user optionally goes through an initial onboarding.</div>
        <div class="">TheraFind uses the user’s information to curate a list of therapists for the user. If the user elects to skip onboarding, the homepage prompts the user to search for a provider based on their location and insurance.</div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2 ml-4">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">2) The user is given a list of therapists who accept their insurance and are local to them.</div>
        <div class="">Users have the option to further narrow down the list by applying filters based on their needs and requirements.</div>
      </div>
      <div class="w-full md:w-1/2">
        <img src="{{site.baseurl}}/assets/img/therafind/therafind-15.png"></img>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2">
        <img src="{{site.baseurl}}/assets/img/therafind/therafind-16.png"></img>
      </div>
      <div class="w-full md:w-1/2 ml-4 mt-10 md:mt-0">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">3) The user can learn more about each therapist who is of interest to them.</div>
        <div class="">Each therapist has a profile page which includes reviews from other patients and details such as their professional background, specialties and location.</div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center mb-10">
      <div class="w-full md:w-1/2 ml-4">
        <div class="text-2xl leading-8 font-semibold mb-8 text-black font-serif">4) Once the user finds a compatible therapist, they request an appointment directly on the app.</div>
        <div class="">TheraFind connects the patient to the therapist and  simplifies scheduling and communication for both parties.</div>
      </div>
      <div class="w-full md:w-1/2">
        <img src="{{site.baseurl}}/assets/img/therafind/therafind-17.png"></img>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0 mb-20 md:mb-36">
  <div class="w-full mr-2 md:w-4/5">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Visual Design</div>
    <div class="text-3xl leading-10 font-semibold mb-8 text-black font-serif">Next, it was time to add visual design to represent TheraFind as a trusting platform.</div>
    <div class="leading-6 mb-6">With mental health being a sensitive topic, styles were chosen to <b>help users feel at ease.</b></div>
    <div class="leading-6">Green was selcted as the primary color to convey TheraFind as a place of <b>peace, safety, and healing</b>. Orange was chosen as a secondary color to add <b>warmth</b>. Rounded corners are used across the app to soften the screens and give a sense of <b>gentleness</b>.</div>
  </div>
  <div class="max-w-[750px] mt-8">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-18.png"></img>
  </div>
</div>
<div class="bg-background-green pb-16">
  <div class="text-dark-primary max-w-full md:max-w-[900px] m-auto flex flex-col md:flex-row py-10 md:py-20 items-center px-4 md:px-0">
    <div class="text-center md:text-left md:mr-12 mb-8 md:mb-0 basis-[80%]">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green text-left">Prototyping + Testing</div>
      <div class="text-left">Taking the style guide I created, I checked it for accessibility and applied it to the screens. I then converted it into a prototype and conducted two rounds of usability testing. No major usability issues were found from user testing, but a number of minor issues were identified.</div>
    </div>
    <div class="justify-center flex basis-[20%] self-end">
      <img src="{{site.baseurl}}/assets/img/therafind/therafind-19.png">
    </div>
  </div>
  <div class="mt-6 mb-5 max-w-full md:max-w-[900px] m-auto px-4 md:px-0">
    <div class="text-3xl leading-8 font-semibold mb-8 text-black font-serif">Testing: Round 1</div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #1</div>
        <div class="">Not all users are familiar with technical terms used in therapy. Therapist credentials, therapist titles, and therapy specialties were not fully understood by all users. The current solution of having a separate section designated to learning about therapy proved to be inefficient. It required users to navigate between screens to understand what they were reading. Most users were also not aware of that feature.</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">Add information icons next to each technical term. When clicked on, a pop up would appear with an explanation of the term.
        </div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind/therafind-20.png"></img>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #2</div>
        <div class="">There was no way for users to contact the therapist if they had inquiries.</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">Add a phone number and a website link for users to learn more or reach out to the provider. Also added a “contact” button that allows users to email the provider directly from the app.</div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind/therafind-21.png"></img>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #3</div>
        <div class="">Some users were unsure if the therapists they were looking at were accepting new patients. It wasn’t until the availability page that users discovered that they were taking appointments.</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">Change the search results to say “(number of) available therapists” rather than “(number of) therapists found.” Another solution would be to add an option to filter for therapists who are accepting new patients.</div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind/therafind-22.png"></img>
      </div>
    </div>
    <div class="text-3xl leading-8 font-semibold mb-8 text-black font-serif">Testing: Round 2</div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #1</div>
        <div class="">Some users expressed confusion about the purpose of the "sign in later" button.</div>
      </div>
      <div class="flex">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">Reword "sign in later" to something that not only labels the function of the button, but also the purpose. For example, "continue as guest" or "browse before creating an account."</div>
      </div>
      <div class="my-8">
        <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind/therafind-23.png"></img>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #2</div>
        <div class="">The current filter options do not cover everything that users might want to filter for.</div>
      </div>
      <div class="flex mb-8">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">In the next iteration, I would add filters, additional filters such as language spoken, ethnicity, credentials, and multiple insurances.</div>
      </div>
    </div>
    <div>
      <div class="flex">
        <div class="w-1/5 shrink-0">Issue #3</div>
        <div class="">Some users were unsure if the therapists they were looking at were accepting new patients. It wasn't until the availability page that users discovered that they were taking appointments.</div>
      </div>
      <div class="flex mb-8">
        <div class="font-semibold w-1/5 shrink-0">Solution</div>
        <div class="font-semibold">In the next iteration, I changed the search results to say "(number of) available therapists" rather than "(number of) therapists found. Another solution would be to add an option to the filtering page to filter for therapists who are accepting new patients.</div>
      </div>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-full md:max-w-[900px] m-auto mt-20 md:mt-36 px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-3/5 mr-0 md:mr-4">
      <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Testing Conclusions</div>
      <div class="leading-6 mb-6">Though the minor issues, all 10 of 10 users easily completed the tasks of searching for a compatible therapist and booking an appointment. Missteps were not observed during these two rounds of testing.</div>
      <div class="leading-6 mb-6">Many users noted that TheraFind is more encompassing than the alternative apps currently available. It checks off all the boxes. Users stated that there are apps and websites out there that give users the ability to explore therapists, but only TheraFind gives them the confidence that the therapists being shown are covered by their insurance, helping them save on costs. Not only does it allow users to find therapists who suit their needs, they’re able to book therapy sessions in the same place. Users were grateful to be able to avoid phone calls and emails that often go unanswered. </div>
    </div>
    <div class="w-full md:w-2/5 mt-10 md:mt-0">
      <img src="{{site.baseurl}}/assets/img/therafind/therafind-24.png"></img>
    </div>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0 mb-20 md:mb-36">
  <div class="w-full mr-2 md:w-4/5">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Interactive Prototype</div>
    <div class="text-3xl leading-10 font-semibold text-black font-serif">Design changes were made and a new prototype was created. Check out the current iteration!</div>
  </div>
  <div class="w-full mt-8 flex justify-center">
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" class="my-4" width="500" height="800" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FEa3Ge4iEcIYSwH76uSAbNf%2FCapstone-1-v2%3Fpage-id%3D92%253A836%26node-id%3D92%253A1981%26viewport%3D147%252C507%252C0.15%26scaling%3Dscale-down%26starting-point-node-id%3D92%253A1981" allowfullscreen></iframe>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col items-start px-4 md:px-0 mb-20 md:mb-36">
  <div class="w-full">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">Next Steps</div>
    <div class="text-3xl leading-10 font-semibold text-black font-serif mb-8">What's next for Therafind?</div>
    <ol class="list-decimal list-outside pl-6 leading-7 mt-2">
      <li>Make design changes based on user feedback, <b>continue to test TheraFind’s usability, and iterate</b>.</li>
      <li>In order to make this a viable product, TheraFind needs 2 types of users: patients and therapists. The emphasis of this project has been on patients. The next step will be to design for providers. I’ll need to <b>identify the needs and pain points of providers and develop possible solutions</b> within TheraFind’s platform.</li>
    </ol>
  </div>
</div>
<div class="text-dark-primary max-w-[900px] m-auto mt-20 md:mt-36 flex flex-col md:flex-row items-center px-4 md:px-0 mb-12 md:mb-24">
  <div class="w-full md:w-2/3 mr-4">
    <div class="text-lg leading-10 uppercase tracking-wider font-semibold mb-6 text-dark-green">What I Learned</div>
    <div class="text-3xl leading-10 font-semibold text-black font-serif mb-8">I learned so much from this project!</div>
    <ol class="list-decimal list-outside pl-6 leading-7 mt-2">
      <li><b>My ideas aren’t always going to work for everyone</b>. And that’s okay.</li>
      <li><b>Testing and talking to users throughout the process</b> not only helped me uncover issues with my designs, but also kept me in touch with users and their needs. Speaking with users frequently helped me keep my focus on designing a solution for the target audience and not for myself.</li>
      <li>Finally, I learned that <b>the job is never done</b>. There are always more questions to ask and things to improve.</li>
    </ol>
  </div>
  <div class="w-full md:w-1/3 mt-10 md:mt-0">
    <img src="{{site.baseurl}}/assets/img/therafind/therafind-25.png"></img>
  </div>
</div>
<a href="/work/able-ally" class="max-w-[900px] m-auto flex flex-col items-end mb-10 md:mb-20 px-4 md:px-0">
  <div class="font-semibold mb-1">Next Case Study:</div>
  <div class="flex items-center">
    <div class="font-semibold mt-0.5 mr-1">Able Ally</div>
    <img class="w-[18px]" src="{{site.baseurl}}/assets/img/next-arrow.png"></img>
  </div>
</a>
