---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="text-dark-primary max-w-[700px] m-auto">
  <h1 class="text-center mt-24 font-serif font-bold text-6xl">{{ page.title }}</h1>
  <h1 class="text-center mt-6 mb-8 font-sans font-semibold text-xl tracking-wider">{{ page.subtitle }}</h1>
  <div class="justify-center flex pb-16">
    <img src="{{site.baseurl}}/assets/img/therafind-1.png">
  </div>
</div>
<div class="py-16 bg-light-primary">
  <div class="text-dark-primary max-w-[700px] m-auto">
    <div class="mb-8">
      <div class="font-semibold uppercase mb-2 text-lg text-dark-green">Background</div>
      <div class="leading-6">{{ page.background }}</div>
    </div>
    <div class="mb-8">
      <div class="font-semibold uppercase mb-2 text-lg text-dark-green">The Challenge</div>
      <div class="leading-6">{{ page.challenge }}</div>
    </div>
    <div class="mb-8">
      <div class="font-semibold uppercase mb-2 text-lg text-dark-green">The Solution</div>
      <div class="leading-6">{{ page.solution }}</div>
    </div>
    <div class="mb-8">
      <div class="font-semibold uppercase mb-2 text-lg text-dark-green">Design Approach</div>
      <div class="leading-6">{{ page.design_approach }}</div>
    </div>
    <div class="flex flex-row">
      <div class="mr-32">
        <div class="font-semibold uppercase mb-2 text-lg text-dark-green">My Role</div>
        <div>{{ page.role }}</div>
      </div>
      <div class="mr-32">
        <div class="font-semibold uppercase mb-2 text-lg text-dark-green">Timeline</div>
        <div>{{ page.timeline }}</div>
      </div>
      <div>
        <div class="font-semibold uppercase mb-2 text-lg text-dark-green">Tools</div>
        <div>{{ page.tools }}</div>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark-green h-[184px] flex justify-center items-center px-16">
  <img class="max-h-[140px]" src="{{site.baseurl}}/assets/img/therafind-process.png"></img>
</div>
<div id="therafind-part-1" class="text-dark-primary max-w-[900px] m-auto pt-24 pb-8">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Secondary Research</div>
  <div class="leading-6 mb-10">To gain a better understanding of the problem, I started by exploring existing data relating to the challenges of finding therapy. Researching the space confirmed that accessing mental health services is a challenge.</div>
  <div class="flex gap-x-16 mb-10">
    <div>
      <div class="font-fraunces font-black text-7xl text-dark-green mb-2">56%</div>
      <div class="mb-3">of all adults with mental illness reported receiving no treatment</div>
      <div class="text-sm font-semibold">Mental Health America</div>
    </div>
    <div>
      <div class="font-fraunces font-black text-7xl text-dark-green mb-2">4.9M</div>
      <div class="mb-3">adults were not able to access the mental health care they needed</div>
      <div class="text-sm font-semibold">National Alliance of Mental Illness</div>
    </div>
    <div>
      <div class="font-fraunces font-black text-7xl text-dark-green mb-2">22%</div>
      <div class="mb-3">of patients who wanted access to mental health care face barriers </div>
      <div class="text-sm font-semibold">National Council of Behavioral Health</div>
    </div>
  </div>
  <div class="leading-6 mb-2">Secondary research also revealed why accessing mental health services can be a challenge:</div>
  <ol class="list-decimal list-outside pl-5 leading-7">
    <li>Some people have no insurance or limited coverage</li>
    <li>There is a disconnect between primary care system and behavioral health system</li>
    <li>People feel like they have limited options (because they need to stay in-network)</li>
    <li>Difficult finding available in-network providers Expensive when out-of-network</li>
  </ol>
</div>
<div class="text-dark-primary max-w-[900px] m-auto pt-24 mb-8">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Talking to users</div>
  <div class="leading-6">Next, I conducted five user interviews to find answers to my unanswered questions. I recruited individuals who are currently seeking therapy or have sought out therapy in the past. I wanted to get a grasp on 1) who is struggling with accessing therapy, 2) why they are struggling, and 3) what would help them overcome current barriers. Here is what some users shared:</div>
</div>
<div class="mb-28">
  <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-2.png"></img>
</div>
<div class="text-dark-primary max-w-[900px] m-auto pt-24">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Synthesizing my research</div>
  <div class="leading-6">With the data I collected from the research stage, I created an affinity map to identify patterns and draw insights. The six key insights were:</div>
  <div class="grid grid-cols-2 grid-rows-3 grid-flow-col mt-6 mb-28 gap-y-2">
    <div class="flex items-center">
      <div class="font-fraunces font-black text-7xl text-dark-green w-8 mr-12">1</div>
      <div>People don't know where to begin</div>
    </div>
    <div class="flex items-center">
      <div class="font-fraunces font-black text-7xl text-dark-green w-8 mr-12">2</div>
      <div>People are limited by a budget</div>
    </div>
    <div class="flex items-center">
      <div class="font-fraunces font-black text-7xl text-dark-green w-8 mr-12">3</div>
      <div>Insurance coverage is confusing</div>
    </div>
    <div class="flex items-center">
      <div class="font-fraunces font-black text-7xl text-dark-green w-8 mr-12">4</div>
      <div>People have specific requirements</div>
    </div>
    <div class="flex items-center">
      <div class="font-fraunces font-black text-7xl text-dark-green w-8 mr-12">5</div>
      <div>People rely on the opinions of others</div>
    </div>
    <div class="flex items-center">
      <div class="font-fraunces font-black text-7xl text-dark-green w-8 mr-12">6</div>
      <div>Contacting providers can be difficult</div>
    </div>
</div>
<div id="therafind-part-2" class="text-dark-primary max-w-[900px] m-auto pt-24">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">User Persona</div>
  <div class="leading-6">So who are we designing for? Based on my findings from the discovery phase, I created a persona that answers this question. Our persona below highlights the main goals and motivations of the audience we're designing for. </div>
</div>
<div>
  <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-3.png"></img>
</div>
<div class="text-dark-primary max-w-[900px] m-auto pt-24 mb-28">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Defining the problem</div>
  <div class="leading-6">Now that I know who to design for, I had to define the key problems to solve. Our core question became:</div>
  <div class="text-4xl text-dark-green mt-9 font-semibold">How might we help our users find an affordable therapist who fits their needs so that they can stay on top of their mental health?</div>
</div>
<div id="therafind-part-3" class="text-dark-primary max-w-[900px] m-auto pt-24 mb-8">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Exploring Design Ideas</div>
  <div class="leading-6">Now that the problem and the users were clearly defined, I started brainstorming possible solutions.</div>
</div>
<div class="mb-36">
  <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-4.png"></img>
</div>

<div class="text-dark-primary max-w-[900px] m-auto pb-8">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">User Stories & User Flow</div>
  <div class="leading-6 mb-11">I then generated user stories and defined what functions were integral to the minimum viable product (MVP). From there, I developed a user flow to represent the most critical route for the product. The flow below visualizes the route users would take to successfully find a compatible therapist and book an appointment.</div>
</div>
<div class="mb-16">
  <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-5.png"></img>
</div>
<div class="text-dark-primary max-w-[900px] m-auto pb-8 mb-28">
  <div class="leading-6 mb-11">To come up with a flow that made sense for the user, I analyzed the flow of existing competing platforms. I then drew parallels to the features and functions that what I wanted to include. Here is a snapshot of my thought process and what I envisioned:</div>
  <div class="mb-10">
    <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-6.png"></img>
  </div>
</div>

<div id="therafind-part-4" class="text-dark-primary max-w-[900px] m-auto pb-8">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Low Fidelity Mock Up</div>
  <div class="leading-6 mb-6">Having a clear flow mapped out, I began sketching what the screens might look like.</div>
</div>
<div class="mb-8">
  <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-7.png"></img>
</div>
<div class="text-dark-primary max-w-[900px] m-auto pb-8 mb-28">
  <div class="leading-6 mb-6">Guerilla testing the lo-fi helped me get a sense of what was working and what was not.</div>
  <ol class="list-decimal list-outside pl-5 leading-7">
    <li>
      <b>Users had differing opinions on the flow.</b>
      <ol class="list-decimal list-outside pl-6 leading-7">
        <li>Users had differing opinions on the flow. Originally, users were asked to create an account at the time of booking an appointment, similarly to the checkout experience for online shopping.</li>
        <li>Some users were confused about why sign up was so late in the process. Others liked the ability to explore before committing to creating an account.</li>
        <li>When it came to wireframing, I opted to allow users to decide their flow. They would be able to either sign up/log in from the get-go or explore first.</li>
      </ol>
    </li>
    <li>
      <b>Icons without labels were confusing to some users.</b>
      <ol class="list-decimal list-outside pl-6 leading-7">
        <li>Users commented about being unsure what would happen upon clicking some icons and buttons.</li>
        <li>In the wireframe, I labeled every icon and button to reduce uncertainty.</li>
      </ol>
    </li>
    <li>
      <b>The homepage was confusing.</b>
      <ol class="list-decimal list-outside pl-6 leading-7">
        <li>Some users were not sure how to proceed from the homepage.</li>
        <li>The unlabeled icons played a role in that.</li>
      </ol>
    </li>
  </ol>
</div>

<div class="text-dark-primary max-w-[900px] m-auto pb-8">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">From Sketches To Wireframes</div>
  <div class="leading-6 mb-6">With the feedback I gained from testing the low fidelity prototype, I began to put together a wireframe which offered a clearer representation of the interface.</div>
</div>
<div class="mb-28">
  <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-8.png"></img>
</div>
<div class="text-dark-primary max-w-[900px] m-auto pb-8 mb-28">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Settling On A Style</div>
  <div class="leading-6 mb-6">After having a better picture of what the app would look like, I began to think about the visual design. I created a moodboard for inspiration and came up with the style guide. Here's a sneak peek into my moodboard and style guide:</div>
  <div class="mb-8">
    <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-9.png"></img>
  </div>
  <div class="mb-8">
    <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-10.png"></img>
  </div>
  <div class="leading-6 mb-6">Understanding that mental health can be a sensitive topic, I had a goal of choosing styles that would <b>help users feel at ease.</b> I selected green as the primary color because it conveys TheraFind as a place of <b>peace, safety, and healing.</b> Orange was chosen as a secondary color to add <b>warmth.</b> Rounded corners are used across the app to soften the screens and give off a sense of <b>gentleness.</b></div>
</div>

<div id="therafind-part-5" class="text-dark-primary max-w-[900px] m-auto pb-8 mb-28">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Testing The Prototype</div>
  <div class="leading-6 mb-10">Taking the style guide I created, I checked it for accessibility and began to apply it to a high fidelity mockup. I then converted it into a prototype and conducted two rounds of usability testing. No major usability issues were found from user testing, but minor issues were identified.</div>
  <div class="text-medium-green font-semibold">Testing: Round 1</div>
  <div class="mt-6 mb-5">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #1</div>
      <div class="">Not all users are familiar with technical terms used in therapy. Therapist credentials, therapist titles, and therapy specialties were not fully understood by all users. The current solution of having a separate section designated to learning about therapy proved to be inefficient. It required users to navigate between screens to understand what they were reading. Most users were also not aware of that feature.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">Add information icons next to each technical term. When clicked on, a pop up would appear with an explanation of the term.
      </div>
    </div>
    <div class="mb-8">
      <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-11.png"></img>
    </div>
  </div>
  <div class="mt-6 mb-5">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #2</div>
      <div class="">There was no way for users to contact the therapist if they had inquiries.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">Add a phone number and a website link for users to learn more or reach out to the provider. Also added a "contact" button that allows users to email the provider directly from the app.</div>
    </div>
    <div class="mb-8">
      <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-12.png"></img>
    </div>
  </div>
  <div class="mt-6 mb-5">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #3</div>
      <div class="">Some users were unsure if the therapists they were looking at were accepting new patients. It wasn't until the availability page that users discovered that they were taking appointments.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">Change the search results to say "(number of) available therapists" rather than "(number of) therapists found." Another solution would be to add an option to filter for therapists who are accepting new patients.</div>
    </div>
    <div class="mb-8">
      <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-13.png"></img>
    </div>
  </div>
  <div class="mt-6 mb-20">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #4</div>
      <div class="">The price range for each therapist is not shown on the search results page. Users don't know the cost until they reach the therapist profile page.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">Add a price range to each therapist on the search results page.</div>
    </div>
  </div>
  <div class="text-medium-green font-semibold">Testing: Round 2</div>
  <div class="mt-6 mb-5">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #1</div>
      <div class="">Some users expressed confusion about the purpose of the "sign in later" button.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">Reword "sign in later" to something that not only labels the function of the button, but also the purpose. For example, "continue as guest" or "browse before creating an account."</div>
    </div>
    <div class="mb-8">
      <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-14.png"></img>
    </div>
  </div>
  <div class="mt-6 mb-10">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #2</div>
      <div class="">The current filter options do not cover everything that users might want to filter for.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">In the next iteration, I would add filters, additional filters such as language spoken, ethnicity, credentials, and multiple insurances.</div>
    </div>
  </div>
  <div class="mt-6 mb-5">
    <div class="flex">
      <div class="w-1/5 shrink-0">Issue #3</div>
      <div class="">Some users were unsure if the therapists they were looking at were accepting new patients. It wasn't until the availability page that users discovered that they were taking appointments.</div>
    </div>
    <div class="flex">
      <div class="font-semibold w-1/5 shrink-0">Solution</div>
      <div class="font-semibold">In the next iteration, I changed the search results to say "(number of) available therapists" rather than "(number of) therapists found. Another solution would be to add an option to the filtering page to filter for therapists who are accepting new patients.</div>
    </div>
  </div>
</div>
<div id="postup-part-4" class="text-dark-primary max-w-[900px] m-auto mb-28">
  <div class="text-[42px] leading-10 uppercase tracking-widest font-semibold mb-10 text-medium-green">Testing: Conclusions</div>
  <div class="leading-6 mb-10">Though the minor issues, all 10 of 10 users easily completed the tasks of searching for a compatible therapist and booking an appointment. Missteps were not observed.</div>
  <div class="mb-16">Many noted that TheraFind is more encompassing than the alternatives currently available. It checks off all the boxes. Users noted that there are apps and websites out there that give users the ability to explore therapists, but only TheraFind gives them the confidence that the therapists being shown are covered by their insurance, helping them save on costs. Not only does it allow users to find therapists who suit their needs, they're able to book a session with the therapist in the same place. Users were grateful to be able to avoid phone calls and emails that often go unanswered.</div>
  <div class="mb-16">
    <img class="mx-auto" src="{{site.baseurl}}/assets/img/therafind-15.png"></img>
  </div>
  <div class="flex flex-col items-center">
    <div class="font-semibold text-medium-green text-3xl">Check out the current iteration!</div>
    <iframe class="my-8" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FEa3Ge4iEcIYSwH76uSAbNf%2FCapstone-1-v2%3Fnode-id%3D92%253A1981" allowfullscreen></iframe>
    <div class="font-semibold">Interactive prototype</div>
  </div>
</div>

<div class="text-dark-primary max-w-[900px] m-auto pb-8">
  <div class="text-4xl leading-10 uppercase tracking-widest font-semibold mb-5 text-medium-green">What I learned</div>
  <div>Being my first ever design project, I learned so much.</div>
  <ol class="list-decimal list-outside pl-6 leading-7 mt-2">
    <li><b>My ideas aren't always going to work for everyone.</b> And that's okay.</li>
    <li><b>Testing and talking to users throughout the process</b> not only helped me uncover issues with my designs, but also kept me in touch with users and their needs. Speaking with users frequently helped me keep my focus on designing a solution for the target audience and not for myself.</li>
    <li><b>Finally, I learned that the job is never done.</b> There are always more questions to ask and things to improve.</li>
  </ol>
</div>

<script>
  const header = document.getElementById('header');
  header.style.backgroundColor = "#6E7C7B";
  const headerImg = document.getElementById('header-img');
  headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-1.png";

  let waypoint1 = new Waypoint({
    element: document.getElementById('therafind-part-1'),
    handler: function(direction) {
      const header = document.getElementById('header');
      if (direction === 'up') {
        header.style.height = '0px';
        header.style.visibility = 'hidden';
        header.style.opacity = '0';
      } else {
        header.style.height = '110px';
        header.style.opacity = '1';
        header.style.visibility = 'visible';
      }
    }
  })

  let waypoint2 = new Waypoint({
    offset: 110,
    element: document.getElementById('therafind-part-2'),
    handler: function(direction) {
      const headerImg = document.getElementById('header-img');
      if (direction === 'up') {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-1.png";
      } else {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-2.png";
      }
    }
  })

  let waypoint3 = new Waypoint({
    offset: 110,
    element: document.getElementById('therafind-part-3'),
    handler: function(direction) {
      const headerImg = document.getElementById('header-img');
      if (direction === 'up') {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-2.png";
      } else {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-3.png";
      }
    }
  })

  let waypoint4 = new Waypoint({
    offset: 110,
    element: document.getElementById('therafind-part-4'),
    handler: function(direction) {
      const headerImg = document.getElementById('header-img');
      if (direction === 'up') {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-3.png";
      } else {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-4.png";
      }
    }
  })

  let waypoint5 = new Waypoint({
    offset: 110,
    element: document.getElementById('therafind-part-5'),
    handler: function(direction) {
      const headerImg = document.getElementById('header-img');
      if (direction === 'up') {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-4.png";
      } else {
        headerImg.src = "{{site.baseurl}}/assets/img/therafind-process-5.png";
      }
    }
  })
</script>
{% include footer.html %}
